<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>AI跑步教练需要写入健康数据，以便将跑步记录同步到健康App。</string>
</dict>
</plist>
